<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reclamos y Consultas</title>
    <link rel="stylesheet" href="/static/Academica/css/formularioContacto.css">


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- link cdn bootstrap -->
</head>
<body  class="bs-body-color">
  <div id="barra"  class="container-fluid bs-body-color">
     
        <!-- barra de navegacion -->
      <form class="d-flex ms-auto" role="search">
          <button class="btn btn-primary me-2" type="button" onclick="goToRecla()">Reclamos</button>
          <script>
              function goToRecla() {
                  window.location.href = '/formularioContacto/';
              }
          </script>
          <button class="btn btn-success me-2" type="button" onclick="goToAdmin()">Administrador</button>
          <script>
              function goToAdmin() {
                  window.location.href = 'http://127.0.0.1:8000/admin/';
              }
          </script>
          <a class="btn btn-danger me-2" href="{% url 'logout' %}">Cerrar sesión</a>
          <button class="btn btn-primary me-2" type="button" onclick="goToHome()">Inicio</button>
          <script>
              function goToHome() {
                  window.location.href = '/home/';
              }
          </script>
      </form>
      
  </div>





  <h1 class="formulariotitulo" > Formulario de Reclamos y Consultas</h1> 
  <img class="img" src="/static/Academica/img/reclamo y consultas.png" alt="">
  <!-- formulario de contacto  -->
  <form action="{% url 'contactar' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Correo:</label>
                <input type="email" class="form-control" name="txtEmail" id="txtEmail">
            </div>
            <div class="mb-3">
                <label for="txtAsunto" class="form-label">Asunto:</label>
                <input type="text" class="form-control" name="txtAsunto" id="txtAsunto">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="txtMensaje" class="form-label">Mensaje:</label>
                <textarea class="form-control" name="txtMensaje" id="txtMensaje" rows="5"></textarea>
            </div>
        </div>
    </div>
    <input class="btn btn-primary me-2" type="submit" value="Enviar"/>

</form>

  <!-- logo reclamos y consultas  -->

    

  

  <footer
  style="
      color: white;
      background-color: black;
      width: 100%;
      height: 28px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      position: fixed;
      bottom: 0;
      padding:0%;
      margin:0%
  "
>
  &copy; 2023 Sebastian macharette. Todos los derechos reservados.
</footer>
</body>
</html>