<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta Estados Alumnos</title>
    {% load static %}
<link rel="stylesheet" href="./static/Academica/css/home.css" />


    <!-- link para css local -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- link cdn bootstrap -->
  </head>
  <body class="--bs-body-color">
    <!-- barra de navegacion bootstrap -->
    <div class="container-fluid">
      <a class="navbar-brand text-center"></a>
      <form class="d-flex justify-content-end" role="search">
        <button class="btn btn-primary me-2" type="button" onclick="goToRecla()">Reclamos</button>
        <script>
          function goToRecla() {
            window.location.href = '/formularioContacto/';
          }
        </script>
        <button class="btn btn-success me-2" type="button" onclick="goToAdmin()">Administrador</button>
        <script>
          function goToAdmin() {
            window.location.href = 'http://127.0.0.1:8000/admin/';
          }
        </script>
        <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar sesión</a>
      </form>
    </div>
    
  
    <!-- ------------------- fin de barra ----------------- -->

    
    <ul>
      <h1>Control de Estudiantes</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
                <th>DNI</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Carrera</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for c in estudiante %}
            <tr>
                <td>{{ c.dni }}</td>
                <td>{{ c.apellidoPeterno }}</td>
                <td>{{ c.apellidoMaterno }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.fechaNacimiento }}</td>
                <td>{{ c.sexo }}</td>
                <td>{{ c.carrera }}</td>
                <td>{% if c.vigencia %}Activo{% else %}Baja{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <!-- js local propio -->
    <script src="./static/Academica/js/home.js"></script>
    <!-- js de bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <footer
    style="
        color: white;
        background-color: black;
        width: 100%;
        height: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        position: fixed;
        bottom: 0;
        padding:0%;
        margin:0%
    "
>
    &copy; 2023 Sebastian macharette. Todos los derechos reservados.
</footer>
  </body>
</html>
